
.react-datetime-picker__inputGroup__day,
.react-datetime-picker__inputGroup__month,
.react-datetime-picker__inputGroup__year,
.react-datetime-picker__inputGroup__hour,
.react-datetime-picker__inputGroup__minute {
  width: 60px !important; /* input width */
}

.react-datetime-picker__inputGroup__divider {
  margin: 0 5px !important; /* space between inputs */
}

.react-datetime-picker__inputGroup {
  display: flex;
  align-items: center;
}

/* height of the input fields */
.react-datetime-picker__inputGroup__input {
  height: 40px !important;
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  z-index: 999;
}