.visualisation-panel {
  padding: 20px;
  background: white;
  border-radius: 8px;
  margin-top: 20px;
  position: fixed;
  top: 120px;
  right:20px;
  border: 1px solid var(--border-color);
  padding: 15px;
  z-index: 1000;
  max-height: 660px;
  display: flex;
  flex-direction: column;
  width: 30%;
}


.chart-container h3 {
  margin-bottom: 10px;
  color: #333;
}
